
@{
    ViewBag.Title = "Ver";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    var Usuarios = (List<RecetaSpawn.Domain.BO.TblUsuariosBO>)ViewBag.UsuarioLista;
}

@if (Usuarios.Count > 0)
{
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Datos de los usuarios</h6>
            <a href="@Url.Content("~/Usuarios/AgregarUsuario")" class="btn-default">Agregar</a>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered table-striped" id="dataTable" width="100%" cellspacing="0">
                    <thead class="thead-dark">

                        <tr align="center">
                            <th scope="col">Nombres</th>
                            <th scope="col">Apellidos</th>
                            <th scope="col">Correo</th>
                            <th scope="col">Contraseña</th>
                            <th scope="col">Genero</th>
                            <th scope="col">Rol</th>
                            <th>Opcion</th>
                        </tr>

                    </thead>

                    <tbody>

                        @foreach (RecetaSpawn.Domain.BO.TblUsuariosBO item in Usuarios)
                        {
                            <tr>
                                <td>@item.Nombre</td>
                                <td>@item.Apellido</td>
                                <td>@item.Correo</td>
                                <td>@item.Contraseña</td>
                                <td>@item.Genero</td>
                                <td>@item.Rol</td>
                                <td align="center">
                                    <button type="button" class="btn btn-warning btn-sm" data-toggle="tooltip">Editar</button>
                                    <button type="button" class="btn btn-danger btn-circle btn-sm">Eliminar</button>
                                </td>
                            </tr>

                        }

                    </tbody>
                </table>
            </div>
        </div>
    </div>
}
else
{
    <h2> Sin resultados</h2>

}
